/*GERAL*/

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: hsl(240, 5%, 7%);
  --text-color: hsl(240, 9%, 89%);
  --title-color: hsl(147, 96%, 42%);
  --form-color: hsl(0, 0%, 66%);
  --bg-button-color: hsl(258, 73%, 62%);

  font-size: 62.5%; /* 1rem = 10px */
}
