/*GERAL*/

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root 
{
  --body-bg-color: hsl(240, 5%, 7%);
  --text-color: hsl(240, 9%, 89%);
  --title-color: hsl(147, 96%, 42%);
  --form-color: hsl(0, 0%, 66%);
  --bg-button-color: hsl(258, 73%, 62%);

  font-size: 62.5%; /* 1rem = 10px */
}

body
{
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: League Spartan;

  background-color: var(--body-bg-color);

  height: 100vh;

  display: grid;
  grid-template-areas:  "1 2";
  grid-template-columns: 1fr 1fr;
}

/*First Part*/

.firstPart
{
  margin-left: 3.6rem;

}

.firstPart h1
{
  font-family: Work Sans;
  font-weight: 700;

  color: var(--title-color);
}

.firstPart p
{
  margin-top: .9rem;
}

.firstPart.bb p
{
  font-weight: 700;
}

.mailbox
{
  font-family: Work Sans;
}

/*IMG*/

.logo
{
  width: 38.9rem;
  height: 9.4rem;

  margin-top: 5rem;
  margin-left: 3rem;
  margin-bottom: 10rem;
}

.oldguy
{
  width: 117.5rem;
  height: 90rem;
}

/*GRID*/

main .firstPart
{
  grid-area: 1;
}

aside .fotoPart
{
  grid-area: 2;
}